.vscode/**
.github/**
node_modules/**
node_modules.*
!node_modules/@lydell/**
!node_modules/@xterm/**
src/**
scripts/**
esbuild.mjs
tsconfig*.json
.gitignore
**/*.map
test/**
docs/**
CONTRIBUTING.md
PRIVACY.md
requirements-dev.txt
SECURITY.md
SUPPORT.md
